.search-container{
    background-color: rgba(0, 0, 0, 0.61);
    line-height: 60px;
    text-align: center;
}
.search-container input{
    width: 75%;
    margin: auto;
    padding: 5px;
}

.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    margin-left: 20%;
    border-right: 1px solid gray;
    margin-right: 5px;
}