.product{
    display: flex;
    padding-bottom: 5px;
    margin-right: 5px;
    border-bottom: 1px solid gray;
}
.product-name{
    color: blue;
    font-weight: normal;
}
.btn-regular{
    background-color: goldenrod;
    width: 200px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    cursor: pointer;
}
