.header{
    text-align: center;
}
.logo{
    width: 300px;
}
nav{
    background-color: black;
    text-align: left;
    padding-left: 30px;
}
nav a{
    text-decoration: none;
    padding: 10px 5px;
    margin-right: 10px;
    color: white;
    font-size: 18px;
    display: inline-block;
}
nav a:hover{
    background-color: lightgray;
}